/*  */


.body {
  background-color:#069e8c;
  margin: 0; /* Elimina el margen exterior */
  padding: 0; 
  z-index: -2; /* Para que esté detrás de todos los elementos */
  position: fixed; /* Para que ocupe todo el fondo */
  top: 0; /* Se ajusta al inicio */
  left: 0; /* Se ajusta al inicio */
  width: 100%; /* Ocupa todo el ancho */
  height: 100%; /* Ocupa todo el alto */
}

.header {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten al tamaño de la pantalla */
}

.left-bar {
  background-color: #998496; /* Azul fuerte */
  flex: 1;
  min-height: 100vh; /* Mínimo 100% del alto de la pantalla */
  max-width: 25%; /* Máximo 25% del ancho de la pantalla */
}


.profile-info {
  padding: 20px;
  text-align: center; /* Centra horizontalmente el contenido */
}

.profile-info img {
  border-radius: 50%;
  max-width: 350px; /* Ajusta el tamaño de la imagen */
  height: 250px; /* Ajusta el tamaño de la imagen */
  display: block; /* Asegura que la imagen esté centrada horizontalmente */
  margin: 0 auto; /* Centra horizontalmente la imagen */
}


.profile-info img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}




/* Estilos para hacer la página y los elementos responsivos */
@media only screen and (max-width: 768px) {
  
  .left-bar {
    flex: none; /* El primer rectángulo no se estira en pantallas pequeñas */
    /* Ocupa todo el ancho en pantallas pequeñas */
     /* No hay límite máximo en pantallas pequeñas */
  }
}
